*{
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
}
:root{
    --boo-sostenibilità: #008000;
    --boo-darker: #1A1A1A;
    --boo-background: #EBD7C9;
    --boo-discount: #FF0000;
    --boo-fixed: #FF6900;

}
/* #region header */
.fixed{
    background-color: var(--boo-fixed);
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}
header .row{
    display: flex;
    justify-content: space-between;
}
a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding-top: 20px;
}
header img{
    width: 100px;
    padding-top: 20px;
    
}
header i{
    color: white;
    padding-top: 20px;;
}

/* #endregion header */
.row{
    display: flex;
    flex-wrap: wrap;
}
.col_4{
    width: calc((100% / 12)*4);
}
.col_4 img{
    width: 300px;
    padding-top: 5rem;
}
.like{
    position: relative;
}
.hearts{
    position: absolute;
    bottom: 380px;
    right: 30px;   
    background-color: white;
    padding: 10px;
    font-size: 25px;
}
.sconto{
    background-color: var(--boo-discount);
    position: absolute;
    bottom: 70px;
    left: 0;
    font-size: 14px;
    padding: 2px;
    color: white;
}
.sostenibilita{
    background-color: var(--boo-sostenibilità);
    position: absolute;
    bottom: 70px;
    left: 35px;
    padding: 2px;
    font-size: 14px;
    color: white;
}
.right{
    position: absolute;
    left: 0;
}
h5{
    margin: 0;
}
.unisex{
    font-weight: 600;
}
.sbarra{
    padding-left: 8px;
    text-decoration: line-through;
}
span:first-child{
    color: red;
}
footer{
    background-color: var(--boo-darker);
    margin-top: 40px;
}
footer .row{
    display: flex;
    justify-content: space-between;
}
.bool, .find{
    color: white;
    padding-top: 30px;
}
.social{
    color: white;
    padding-top: 10px;
    padding-bottom: 50px;
}
.social i{
    background-color: white;
    color: #1A1A1A;
    padding: 3px;
    margin: 3px;
}